@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticket-zone {
  width: 30.5vw;
  background-color: rgb(226, 226, 226);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticket-zone .ticket {
  background-color: rgb(201, 201, 201);
  border-radius: 2vw;
  width: 17vw;
  padding: 1vw 0;
}
.ticket-zone .ticket p {
  font-size: 1.1vw;
}
.ticket-zone .ticket-btn-container {
  width: 17vw;
  margin: 1vw 0;
  display: flex;
  justify-content: space-evenly;
}
.ticket-zone .ticket-btn-container a {
  background-color: hsl(216.34deg, 70.58%, 36.67%);
  color: rgb(226, 226, 226);
  border-radius: 1.5vw;
  cursor: pointer;
  padding: 1vw 1vw;
  font-size: 1vw;
  text-decoration: none;
}
.ticket-zone .ticket-btn-container .big-ticket-btn {
  padding: 1.5vw 0;
  font-size: 1.5vw;
  width: 11vw;
}
.ticket-zone .ticket-btn-container .save-ticket {
  font-size: 1.2vw;
  padding: 1.5vw 1vw;
}
.ticket-zone .ticket-btn-container .saved-tickets {
  color: hsl(50deg, 100%, 59%);
}
.ticket-zone h2 {
  margin-bottom: 4vh;
  font-size: 2vw;
}

.main {
  display: flex;
  height: min(100%, 100vh);
}
.main .product-zone {
  min-width: 69.5vw;
  background-color: hsl(216.34deg, 70.58%, 36.67%);
  padding: 9.7vh 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4.5vw;
}

.product-card {
  font-family: "Rubik", sans-serif;
  background-color: hsl(50deg, 100%, 59%);
  border-radius: 20%;
  width: 14vw;
  height: 17.5vw;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  transition: transform 0.5s;
}
.product-card:hover {
  background-color: rgb(226, 226, 226);
  transform: scale(1.13);
}
.product-card:hover img {
  filter: grayscale(0%);
}
.product-card .product-info {
  width: calc(14vw - 20%);
  padding-top: 0.5vw;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card .product-info .name {
  margin: 0;
  font-size: 1.6vw;
}
.product-card .product-info .price-container {
  margin: 0.2vw 0;
  background-color: rgb(226, 226, 226);
  border-radius: 2vw;
  padding: 0.2vw;
  min-width: 6vw;
}
.product-card .product-info .price-container .price {
  margin: 0;
  color: rgb(53, 53, 53);
  font-size: 1.5vw;
}

.product-img {
  border-radius: 20%;
  margin-top: 10%;
  height: calc(14vw - 20%);
  width: calc(14vw - 20%);
  filter: grayscale(100%);
}

.skeleton {
  -webkit-animation: skeleton-loading 0.7s linear infinite alternate;
          animation: skeleton-loading 0.7s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 10rem;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg, 20%, 70%);
  }
  100% {
    background-color: rgb(226, 226, 226);
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg, 20%, 70%);
  }
  100% {
    background-color: rgb(226, 226, 226);
  }
}/*# sourceMappingURL=Main.css.map */