@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import "../Styles/Variables/variables.scss";
@import "../Styles/Mixins/mixins.scss";

body {
  background-color: $primary-color;
  text-align: center;
}

.saved-home-btn {
  @include show-btn;
  font-size: 2vw;
  position: absolute;
  left: 1vw;
  top: 0.7vw;
  background-color: $secondary-color;
}

h1 {
  color: $secondary-color;
  font-size: 3vw;
  margin-top: 1.5vw;
}

.saved-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  .saved-ticket {
    @include ticket;
    margin-bottom: 4vw;
    width: 21vw;
    padding: 0;
    .delete-saved-ticket-btn {
      float: right;
      background-color: rgb(255, 124, 100);
      border: 0;
      cursor: pointer;
      border-radius: 1vw 2vw 1vw 1vw;
      height: 2.7vw;
      width: 3vw;
      font-size: 1.5vw;
    }
    p {
      font-size: 1.3vw;
      &.products {
        margin-top: 2vw;
        margin-left: 3.5vw;
      }
      &.total {
        margin-bottom: 3vw;
      }
    }
  }
}

@media (max-width: 600px) {
  .saved-home-btn {
    font-size: 5vw;
    left: 2vw;
    top: 1.5vw;
  }
  h1 {
    font-size: 7vw;
  }
  .saved-container {
    margin-top: 4vw;
    .saved-ticket {
      margin-bottom: 7vw;
      width: 42vw;
      border-radius: 3.5vw;
      .delete-saved-ticket-btn {
        border-radius: 1vw 2vw 1vw 1vw;
        height: 6vw;
        width: 6vw;
        font-size: 2.5vw;
      }
      p {
        font-size: 3vw;
        &.products {
          margin-top: 4vw;
          margin-left: 6vw;
        }
        &.total {
          margin-bottom: 6vw;
        }
      }
    }
  }
}
