@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import "../Styles/Variables/variables.scss";
@import "../Styles/Mixins/mixins.scss";

.show-container {
  height: 100vh;
  background-color: $thirdary-color;
  text-align: center;
}

.show-home-btn {
  background-color: $secondary-color;
  @include show-btn;
}

.show-saved-btn {
  background-color: $primary-color;
  color: $thirdary-color;
  @include show-btn;
}

.show-ticket {
  @include ticket;
  height: 40rem;
  width: 25rem;
  border-radius: 2rem;
  margin: 0.5rem auto;

  p {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .show-ticket {
    width: 60vw;
    border-radius: 5vw;
    margin: auto;
    p {
      font-size: 3.5vw;
    }
  }
  .show-home-btn {
    margin: 1.5vw 1.5vw 3vw;
  }

  .show-saved-btn {
    margin: 1.5vw 1.5vw 3vw;
  }
}
